<div class="modal fade" id="CoursModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Cours hebdomadaires</h3>
            </div>
            <div class="modal-body">

                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 style="text-align: center">Centre culturel “Les Cigales"</h4><h6
                                style="text-align: center">33, avenue des Pyrénées - Anglet</h6></div>
                    <div class="panel-body">

                        <h3>Lundi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">8h15 - 9h15</td>
                                <td>(débutants) cours d’initiation vers le Qi Gong avec Ana NOUVEAU (50 euros par trimestre)
                                </td>
                            </tr>
                            <tr>
                                <td class="hour-cours">9h - 20h 30</td>
                                <td>(débutants) Tai Ji Quan style Chen : Laojia</td>
                            </tr>
                            <tr>
                                <td class="hour-cours">20h 30 - 21h</td>
                                <td>(confirmés) : Laojia - Tuishou (longue forme)</td>
                            </tr>
                        </table>
                        <h3>Mardi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">19h - 20h 30</td>
                                <td>Forme Hui Chun Gong (débutants) (TAOLU)</td>
                            </tr>
                            <tr>
                                <td class="hour-cours">20h 30 - 21h</td>
                                <td>TAOLU méditation Hui Chun Gong (confirmés)</td>
                            </tr>
                        </table>
                        <h3>Mercredi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">17h 15 - 18h 30</td>
                                <td>Initiation au taijiquan style Chen suivi des étirements jusqu’à 19 h 00 .</td>
                            </tr>
                            <tr>
                                <td class="hour-cours">18 h 30 à 20 h 00</td>
                                <td>Qi Gong : Etirements dans l’ouverture (ouvert, gratuit, pour tous inscrits à un cours hebdomadaire) ou faisant partie d’un cours complet de qi gong …de 19 h15  à 20 h 00 : Qi gong : Le pas du Tigre .</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading"><h4 style="text-align: center">Paroisse Trinité</h4><h6
                                style="text-align: center">88, rue de Hardoy - Anglet</h6></div>
                    <div class="panel-body">
                        <h3>Lundi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">10h - 11h 30</td>
                                <td>Forme de Qi Gong Hui Chun Gong (TAOLU).</td>
                            </tr>
                        </table>
                        <h3>Mardi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">10 h - 11 h 30</td>
                                <td>Qi Gong de l’oie blanche et petit bâton.</td>
                            </tr>
                        </table>
                        <h3>Jeudi</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="hour-cours">10h - 11h30</td>
                                <td>Qi Gong Nei Yang Gong.</td>
                            </tr>
                        </table>

                        <em>Pour les débutants, les deux premiers cours sont gratuits et sans engagement.</em><br>
                        <br>
                        <em>La cotisation est <strong>annuelle</strong> et en cours d’année <strong>trimestrielle</strong>: 270 euros par an ou 90 euros par trimestre en cours d’année   (pour un cours hebdomadaire)  - 15 % pour les couples  - 30 % pour les + de 15ans -  Accès à tous les cours après règlement de 420 euros de cotisations par an.</em><br>
                        <br>
                        <em>Les adhésions, assurance (43 euros) et la licence (33 euros) sont en sus : soit 76 euros pour cette saison 2015-2016.</em><br>
                        <br>
                        <em>Les stages seront ponctuels , voir sur l’actualité du site . Merci</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal-content -->

<!-- /.modal-dialog -->
<!-- /.modal -->
