{% extends "ZhongfuBlogBundle::layout.html.twig" %}

{% block banner %}
  {{ render(controller("ZhongfuBlogBundle:Includes:carousel")) }}
{% endblock %}


{% block content %}
  <section id="contentbody">
    <div class="container">
      <div class="row">

        {% block leftbar %}
        {% endblock leftbar %}

        {% block middlebar %}
        {% endblock middlebar %}

        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="row">
            <div class="rightbar_content">
              {% block evenements %}
              {% endblock evenements %}

              {% block popular %}
              {% endblock popular %}

              {% block popularTags %}
              {% endblock popularTags %}
              <!-- End Popular Posts -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}